@tailwind base;
@tailwind components;
@tailwind utilities;


p {
    font-size: large;
}

.reveal {
    position: relative;
    opacity: 0;
  }
  
  .reveal.active {
    opacity: 1;
  }
  .active.fade-bottom {
    animation: fade-bottom 1s ease-in;
  }

  @keyframes fade-bottom {
    0% {
      transform: translateY(30px);
      opacity: 0;
    }
    30%{
        opacity: 0.9;
    }
    50%{
        transform: translateY(0);
    }
    100% { 
      opacity: 1;
    }
  }